<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Pokemon Type Chart Online</title>
        <link rel="shortcut icon" type="image/png" th:href="@{images/Icon.png}" /> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="row">
            <div class="col-7">
                <table>
                    <thead>
                        <tr>
                            <th>Pokemon</th>
                            <th>of these<br/> types:</th>
                            <th>Type1</th>
                            <th>Type2</th>
                            <th>is affected by<br/> moves as follows:</th>
                            <th>4x</th>
                            <th>2x</th>
                            <th>1x</th>
                            <th>1/2x</th>
                            <th>1/4x</th>
                            <th>0x</th>
                            <th>
                                <form action="/" method="get">
                                    <input type="submit" value="Reset"/>
                                </form>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select id="pokemonList" name="pokemonList" size="10" style="width:150px" onChange="pokemonChange(this)">
                                    <option th:each="pokemon : ${pokemons}" th:value="${pokemon}" th:text="${pokemon}" th:selected="${pokemon==selectedPokemon}"></option>               
                                </select>
                            </td>
                            <td>
                                <button id="numberOrderButton" onclick="numberOrder()">1-9</button>
                                <button id="nameOrderButton" onclick="nameOrder()">A-Z</button>
                            </td>
                            <td>
                                <select id="type1List" size="10" style="width:80px" onChange="type1Change(this)">
                                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:selected="${type==type1}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="type2List" size="10" style="width:80px" onChange="type2Change(this)">
                                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"  th:selected="${type==type2}"></option>
                                </select>
                            </td>
                            <td></td>
                            <td>
                                <select id="hyperList" size="10" style="width:80px">
                                    <option th:each="type : ${hyper}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="strongList" size="10" style="width:80px">
                                    <option th:each="type : ${strong}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="normalList" size="10" style="width:80px">
                                    <option th:each="type : ${normal}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="weakList" size="10" style="width:80px">
                                    <option th:each="type : ${weak}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="superWeakList" size="10" style="width:80px">
                                    <option th:each="type : ${superWeak}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td>
                                <select id="ineffectiveList" size="10" style="width:80px">
                                    <option th:each="type : ${ineffective}" th:value="${type}" th:text="${type}"></option>
                                </select>
                            </td>
                            <td></td>
                            <td>                      
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" id="myInput" type="text" placeholder="Search Pokemon..." style="width: 150px" autofocus/>
                            </td>
                        </tr>
                    </tbody> 
                </table>
            </div>
            <div class="col-5">
                <img id="image" style="width: 100%; height: 100%" th:src="@{images/None-None.png}" onerror="imageError(this)"/>
            </div>
        </div>

        <script type="text/javascript" th:inline="javascript">
            var type1 = "None";
            var type2 = "None";
            var contextRoot = /*[[@{/}]]*/ '';
            var order = 1;

            function pokemonChange(select) {
                var pokemon = select.options[select.options.selectedIndex].value;
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        var pokemonObject = JSON.parse(xmlHttp.responseText);
                        window.type1 = pokemonObject.type.key;
                        window.type2 = pokemonObject.type.value;
                        var sel = document.getElementById('type1List');
                        for (var i = 0, j = sel.options.length; i < j; ++i) {
                            if (sel.options[i].innerHTML === window.type1) {
                                sel.selectedIndex = i;
                                break;
                            }
                        }
                        sel = document.getElementById('type2List');
                        for (var i = 0, j = sel.options.length; i < j; ++i) {
                            if (sel.options[i].innerHTML === window.type2) {
                                sel.selectedIndex = i;
                                break;
                            }
                        }
                        updateLists();
                        showImage();
                    }
                }
                xmlHttp.open("GET", window.contextRoot + "rest/" + pokemon, true);
                xmlHttp.send(null);
            }

            function type1Change(select) {
                window.type1 = select.options[select.options.selectedIndex].value;
                document.getElementById("pokemonList").selectedIndex = -1;
                updateLists();
                showImage();
            }

            function type2Change(select) {
                window.type2 = select.options[select.options.selectedIndex].value;
                document.getElementById("pokemonList").selectedIndex = -1;
                updateLists();
                showImage();
            }

            function updateLists() {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        var typeChart = JSON.parse(xmlHttp.responseText);
                        document.getElementById("hyperList").options.length = 0;
                        document.getElementById("strongList").options.length = 0;
                        document.getElementById("normalList").options.length = 0;
                        document.getElementById("weakList").options.length = 0;
                        document.getElementById("superWeakList").options.length = 0;
                        document.getElementById("ineffectiveList").options.length = 0;
                        for (type of typeChart[0]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("hyperList").add(option);
                        }
                        for (type of typeChart[1]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("strongList").add(option);
                        }
                        for (type of typeChart[2]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("normalList").add(option);
                        }
                        for (type of typeChart[3]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("weakList").add(option);
                        }
                        for (type of typeChart[4]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("superWeakList").add(option);
                        }
                        for (type of typeChart[5]) {
                            var option = document.createElement("option");
                            option.text = type;
                            document.getElementById("ineffectiveList").add(option);
                        }
                        document.getElementById("image").src = window.contextRoot + "images/" + window.type1 + "-" + window.type2 + ".png";
                    }
                }
                xmlHttp.open("GET", window.contextRoot + "rest/" + window.type1 + "/" + window.type2, true);
                xmlHttp.send(null);
            }

            function numberOrder() {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        var pokemons = JSON.parse(xmlHttp.responseText);
                        document.getElementById("pokemonList").options.length = 0;
                        for (pokemon of pokemons) {
                            var option = document.createElement("option");
                            option.text = pokemon;
                            document.getElementById("pokemonList").add(option);
                        }
                    }
                }
                if (window.order != 3) {
                    window.order = 3;
                    xmlHttp.open("GET", window.contextRoot + "rest/PokemonNumberOrder", true);
                    document.getElementById("numberOrderButton").innerHTML = "1-9";
                    document.getElementById("nameOrderButton").innerHTML = "A-Z";
                } else {
                    window.order = 4;
                    xmlHttp.open("GET", window.contextRoot + "rest/PokemonNumberOrderReverse", true);
                    document.getElementById("numberOrderButton").innerHTML = "9-1";
                    document.getElementById("nameOrderButton").innerHTML = "A-Z";
                }

                xmlHttp.send(null);
            }

            function nameOrder() {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                        var pokemons = JSON.parse(xmlHttp.responseText);
                        document.getElementById("pokemonList").options.length = 0;
                        for (pokemon of pokemons) {
                            var option = document.createElement("option");
                            option.text = pokemon;
                            document.getElementById("pokemonList").add(option);
                        }
                    }
                }
                if (window.order != 1) {
                    window.order = 1;
                    xmlHttp.open("GET", window.contextRoot + "rest/PokemonNameOrder", true);
                    document.getElementById("numberOrderButton").innerHTML = "1-9";
                    document.getElementById("nameOrderButton").innerHTML = "A-Z";
                } else {
                    window.order = 2;
                    xmlHttp.open("GET", window.contextRoot + "rest/PokemonNameOrderReverse", true);
                    document.getElementById("numberOrderButton").innerHTML = "1-9";
                    document.getElementById("nameOrderButton").innerHTML = "Z-A";
                }

                xmlHttp.send(null);
            }

            function imageError(image) {
                if (image.src != window.contextRoot + "images/Error.png") {
                    image.src = window.contextRoot + "images/Error.png";
                }
            }

            $(document).ready(function () {
                $("#myInput").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#pokemonList *").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </body>
</html>
